*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sql
/public/system
/public/assets
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
/config/database.yml
/config/secrets.yml
/.bundle
/vendor/bundle
.rvmrc
.DS_Store
*~
/db/schema.rb
.ruby-gemset
.ruby-version
*/.DS_Store
.byebug-save
.DS_Store
